# - name: Prepare system before deploying stack
#   hosts: all
#   become: yes
#   vars_files:
#     - vars.yml
#   roles:
#     - check_backup_files

- name: Install Docker and prepare system
  hosts: all
  become: yes
  roles:
    - docker_install

- name: Reboot for docker group to take effect
  hosts: all
  become: yes
  roles:
    - reboot_host

- name: Verify Docker and deploy stack
  hosts: all
  become: yes
  roles:
    - docker_check

- name: Deploy stack Inception 42 Barcelona
  hosts: all
  become: yes
  vars_files:
    - vars.yml
    - paths.yml
  roles:
    - ssh_keys
    - github_clone
    - data_restore
    - docker_images
    - start_app
    # - check_domains

# ### EJECUCION ######

# ansible-playbook -i hosts-control playbook.yml --ask-become-pass --ask-vault-pass

# ansible-playbook -i hosts-control playbook.yml -l ft --ask-become-pass --ask-vault-pass

### EJECUCION DE ROLES INDIVIDUALES ######
# ansible-playbook -i hosts-control playbook.yml --tags "check_domains" --ask-become-pass --ask-vault-pass


# ansible-playbook playbook.yml --start-at-task "Comprobar disponibilidad de los dominios"
