### DOMAIN CONFIG
domain_base: "enunpimpam.com"
nasa_subdomain: "nasa"
phpmyadmin_subdomain: "phpmyadmin"

### MYSQL SETUP
mysql_root_password: "1Q2w3e4r5t6y7"
mysql_database: "mydatabase"
mysql_user: "myuser"
mysql_password: "1Q2w3e4r5t6y7"

### WORDPRESS SETUP
wp_db_name: "wordpress"
wp_db_user: "wpuser"
wp_db_password: "1Q2w3e4r5t6y7"

### OTHER
pma_host: "mariadb"
toma_path: "/home/nacho/Cloud-1"

### para encrypt
# ansible-vault encrypt vars.yml



tokemo.enunpimpam.com
nasa.tokemo.enunpimpam.com
phpmyadmin.tokemo.enunpimpam.com